.white-block.white-block_30.catalog-detail-order
  .row
    .col-12
      .catalog-detail-order__price
        //.d-flex.d-md-block.d-xl-flex.justify-content-between.catalog-detail-order__price-item.catalog-detail-order__price-main
        .d-md-block.catalog-detail-order__price-item.catalog-detail-order__price-main.d-block
          .catalog-detail-order__message-arrow-to-date
            span Выберете даты чтобы узнать стоимость
          //.catalog-detail-order__price-name
            .catalog-detail-order__price-name_name Средняя цена
            .catalog-detail-order__price-name_name за выбр. период:
          .catalog-detail-order__price-period-val
            span.catalog-detail-order__price_value  1 200
            span.catalog-detail-order__price_rubl.rubl.pl-1 q
            span.catalog-detail-order__price_type  / сутки

        - var n = 0;
          while n < 2
            - n++
            //.d-flex.justify-content-between.catalog-detail-order__price-item.catalog-detail-order__price-period
              .catalog-detail-order__price-period-name
                .catalog-detail-order__price-period-name_name Майские праздники
                .catalog-detail-order__price-period-name_date 1.05 - 9.05
              .catalog-detail-order__price-period-val
                span.catalog-detail-order__price-period-val_value 2 200
                span.catalog-detail-order__price-period-val_rubl.rubl.pl-1 q
                span.catalog-detail-order__price-period-val_type  / сутки

    .col-12.w-100.catalog-detail-order__separate-space

    form.w-100.js-order-form

      .col-12.catalog-detail-order__departure
        label Выберите даты заезда / отъезда
        .input-wrap.icon-wrap.icon-wrap_right.form-group
          +icon('calendar', 'order')
          input.form-control.catalog-detail-order__input.catalog-detail-order__input-date-range.js-drpicker.readonly-date.js-catalog-detail-order__input.readonly(required type='text' name="date_from_to" placeholder='Даты заезда/отъезда' autocomplete='off')
          .invalid-feedback.invalid-feedback-absolute Пожалуйста выберите даты заезда
        .invalid-feedback-fake

      .col-12.catalog-detail-order__person
        .dropdown
          label Количество гостей
          .input-wrap.icon-wrap.icon-wrap_left.form-group
            input#dropdownMenuButtonPerson.form-control.catalog-detail-order__input.catalog-detail-order__input-person.dropdown-toggle.readonly-date.js-input-person.readonly(required data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' type='text' name="number_of_guests" placeholder='Количество гостей' autocomplete='off')
            +icon('friends', 'order')
            .invalid-feedback.invalid-feedback-absolute Пожалуйста укажите кол-во гостей

            .dropdown-menu.dropdown-menu-person(aria-labelledby='dropdownMenuButtonPerson')
              //- var persons = ['Взрослые', 'Дети', 'Младенцы']
              - var persons = [{name: 'Взрослые',  desc: ''}, {name: 'Дети',  desc: 'Возраст: 2—12 лет'}, {name: 'Младенцы',  desc: 'До 2 лет'}];
              - var label = ['Количество взрослых', 'Количество детей', 'Количество младенцев'];
              - var result = ['взрослые', 'дети', 'младенцы'];
              - var def = [0, 0, 0];
              - var min = def;
              - var type = ['adults', 'childrens', 'baby'];
              each person, index in persons
                - var dataField = 'quant[' + index + ']'
                - var typeClass = 'js-input-group-' + type[index]
                .dropdown-item-text.d-flex.justify-content-between
                  .dropdown-item-wrap
                    .dropdown-item-text_big #{person.name}
                    if person.desc
                      if type[index] == 'childrens'
                        .dropdown-item-text_small.d-block.d-md-none.d-xl-block #{person.desc}
                        .dropdown-item-text_small.d-none.d-md-block.d-xl-none 2—12 лет
                      else
                        .dropdown-item-text_small #{person.desc}
                  .input-group.input-group-plus-minus(class=typeClass)
                    .input-group-prepend
                      button#button-addon1.btn.btn-secondary.btn-secondary-plus-minus.js-btn-number(type='button' disabled='disabled' data-type='minus' data-field=dataField) -
                    input.form-control.js-input-number(type='text' name=dataField aria-label=label[index] aria-describedby='button-addon1' value=def[index] min=min[index] result=result[index] max='99')
                    .input-group-append
                      button#button-addon2.btn.btn-secondary.btn-secondary-plus-minus.js-btn-number(type='button' data-type='plus' data-field=dataField) +
          .invalid-feedback-fake

    .col-12
      .row
        .col-12.d-flex.justify-content-between.catalog-detail-order__pre-total
          .catalog-detail-order__pre-total-left
            span ~2 000
            span.rubl.pl-1 q
            span &nbsp;x&nbsp;7 ночей
          .catalog-detail-order__pre-total-right
            span 20 000
            span.rubl.pl-1 q

        .col-12
          .catalog-detail-order__separate-total

        .col-12.d-flex.justify-content-between.catalog-detail-order__total
          .catalog-detail-order__total-left
            span Итого:
          .catalog-detail-order__total-right
            span 20 000
            span.rubl.pl-1 q

    .col-12
      .row.catalog-detail-order__buttons
        .col-12.mt-3
          button.w-100.btn.btn-success.js-order-button Забронировать
        .col-12.mt-2
          button.w-100.btn.btn-outline-secondary.btn-outline-secondary_for-blocks(data-toggle="modal" data-target='#messageModal') Написать сообщение

    .col-12
      .row.catalog-detail-order__reserv-list
        .col-12.catalog-detail-order__reserv-title
          | Забронированные даты

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_red
            span Забронировано с 5.06 по 10.06

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_red
            span Забронировано с 5.06 по 10.06

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_red
            span Забронировано с 5.06 по 10.06

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_red
            span Забронировано с 5.06 по 10.06

    .col-12
      .row.catalog-detail-order__reserv-list
        .col-12.catalog-detail-order__reserv-title
          | Забронированные даты

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_green
            span
              | Заявка на бронирование
              br
              | с 1.05 по 9.05
          .catalog-detail-order__reserv-edit.justify-content-end.d-flex
            .catalog-detail-order__reserv-edit-remove
              button.btn.btn-danger.btn-sm(type="button", data-toggle="modal", data-target="#actionConfirmModal") X
            .catalog-detail-order__reserv-edit-ok
              button.btn.btn-success.btn-sm(type="button", data-toggle="modal", data-target="#actionConfirmModal") OK

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_red
            span Забронировано с 5.06 по 10.06
          .catalog-detail-order__reserv-edit.justify-content-end.d-flex
            .catalog-detail-order__reserv-edit-remove
              button.btn.btn-danger.btn-sm(type="button") X

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_green
            span
              | Заявка на бронирование
              br
              | с 1.05 по 9.05
          .catalog-detail-order__reserv-edit.justify-content-end.d-flex
            .catalog-detail-order__reserv-edit-remove
              button.btn.btn-danger.btn-sm(type="button") X
            .catalog-detail-order__reserv-edit-ok
              button.btn.btn-success.btn-sm(type="button") OK

        .col-12
          .catalog-detail-order__reserv-separate

        .col-12.catalog-detail-order__reserv-item.justify-content-between.d-flex
          .catalog-detail-order__reserv-date.catalog-detail-order__reserv-date_green
            span
              | Заявка на бронирование
              br
              | с 1.05 по 9.05
          .catalog-detail-order__reserv-edit.justify-content-end.d-flex
            .catalog-detail-order__reserv-edit-remove
              button.btn.btn-danger.btn-sm(type="button") X
            .catalog-detail-order__reserv-edit-ok
              button.btn.btn-success.btn-sm(type="button") OK

    .col-12.d-flex.justify-content-between.catalog-detail-order__author
      .catalog-detail-order__author-left.d-flex.align-items-start.flex-column
        .catalog-detail-order__author-name Иван
        .catalog-detail-order__author-position.mb-auto Специалист по аренде
        a.catalog-detail-order__author-phone(href="tel:+78002000600") +7 (800) 2000-600
      .catalog-detail-order__author-right
        img.img-fluid.catalog-detail-order__photo(src="static/images/general/author.jpg")

    .col-12.catalog-detail-order__info
      | Текст комментария или заметка текст комментария или заметка комментария или заметка текст комментариякомментария или заметка