.white-block.white-block_30.catalog-detail-object
  .row
    .col-12
      h1.h1.catalog-detail-object__title
        span 2-комн. кв.,
        span  83 м
          sup 2
        span , 3/5 этаж

    .col-12.catalog-detail-object__line-top-1
      span.catalog-detail-object__adres Республика Крым, г. Ялта, ул. Виноградная 16
      br.d-block.d-lg-none
      span.more-filter: a.more-filter__link
      a(href="#" data-scroll_to="title-map").catalog-detail-object__scroll-map-link.more-filter__link.js-scroll-link На карте

    .col-12.catalog-detail-object__line-top-2
      span.catalog-detail-object__id ID: 5587485
      span.catalog-detail-object__date Добавлено: 2 дня назад

    .col-12
      - path = "static/images/detail/"
      .fotorama.catalog-detail-object__imager.detail-imager(data-nav="thumbs" data-thumbwidth="135" data-thumbheight="88" data-allowfullscreen="native")
        a(href=path + "big/big01.jpg" data-thumb=path + "mini/mini01.jpg")
        a(href=path + "big/big02.jpg" data-thumb=path + "mini/mini02.jpg")
        a(href=path + "big/big03.jpg" data-thumb=path + "mini/mini03.jpg")
        a(href=path + "big/big04.jpg" data-thumb=path + "mini/mini01.jpg")
        a(href=path + "big/big05.jpg" data-thumb=path + "mini/mini02.jpg")
        a(href=path + "big/big06.jpg" data-thumb=path + "mini/mini03.jpg")
        a(href=path + "big/big07.jpg" data-thumb=path + "mini/mini01.jpg")
        a(href=path + "big/big01.jpg" data-thumb=path + "mini/mini02.jpg")
        a(href=path + "big/big02.jpg" data-thumb=path + "mini/mini03.jpg")

    //.col-12
      .catalog-detail-object__imager.detail-imager.flex-wrap
        .detail-imager__image-main: img(src=path + "big.jpg")
        .detail-imager__wrap-images-preview.d-flex
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini01.jpg")
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini02.jpg")
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini03.jpg")
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini01.jpg")
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini02.jpg")
          .detail-imager__image-preview
            a.detail-imager__image-link: img.img-fluid(src=path + "mini/mini03.jpg")

    .col-12
      .catalog-detail-object__main-params.d-flex.flex-row.justify-content-start.flex-wrap.row
        .col-6.col-lg-3.catalog-detail-object__main-param.main-param-detail-object
          .main-param-detail-object__name Общая площадь
          .main-param-detail-object__value 33 м
            sup 2
        .col-6.col-lg-3.catalog-detail-object__main-param.main-param-detail-object
          .main-param-detail-object__name Жилая площадь
          .main-param-detail-object__value 20 м
            sup 2
        .col-6.col-lg-3.catalog-detail-object__main-param.main-param-detail-object
          .main-param-detail-object__name Этаж
          .main-param-detail-object__value 3 из 9
        .col-6.col-lg-3.catalog-detail-object__main-param.main-param-detail-object
          .main-param-detail-object__name Спальных мест
          .main-param-detail-object__value 3

    .col-12
      .separator

    .col-12
      ul.row.no-gutters.catalog-detail-object__params
        li.col-6.col-lg-4.catalog-detail-object__param
          span Можно с животными
        li.col-6.col-lg-4.catalog-detail-object__param
          span Большой балкон
        li.col-6.col-lg-4.catalog-detail-object__param
          span Телевизор:
          span.catalog-detail-object__param-val-green  есть
        li.col-6.col-lg-4.catalog-detail-object__param
          span Наличие спальни:
          span.catalog-detail-object__param-val-green  да
        li.col-6.col-lg-4.catalog-detail-object__param
          span Лифт:
          span.catalog-detail-object__param-val-green  есть
        li.col-6.col-lg-4.catalog-detail-object__param
          span Кондиционер:
          span.catalog-detail-object__param-val-red  нет
        li.col-6.col-lg-4.catalog-detail-object__param
          span Wi-Fi:
          span.catalog-detail-object__param-val-green  есть
        li.col-6.col-lg-4.catalog-detail-object__param
          span Парковка:
          span.catalog-detail-object__param-val-red  нет
        li.col-6.col-lg-4.catalog-detail-object__param
          span С кухней:
          span.catalog-detail-object__param-val-green  да

    .col-12
      .catalog-detail-object__desc
        | Год постройки: 1976. Перекрытия: железобетонные. Каркас: Панельный. Стены: Крупноблочные. Подъездов: 1. Пассажирских лифтов в подъезде: 1. Больших лифтов в подъезде: 1. Мусоропровод: есть. Рядом с объектом строится две станции метро Столбово и Сосенки объекта. Мусоропровод: есть. Рядом с объектомБольших лифтов в подъезде: 1. Мусоропровод: есть. Рядом с объектом строится две станции метро Столбово и Сосенки объекта. Мусоропровод: есть. Рядом с объектом

    .col-12.mt-4.mb-5
      .row.d-flex.catalog-detail-object__video
        .col-12.col-lg-12.catalog-detail-object__video-name.mb-2
          h2.h2#title-video Видео обзор
        .col-12.col-lg-12.catalog-detail-object__video
          iframe(width='560', height='315', src='https://www.youtube.com/embed/f4n7DJFhzgY', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    .col-12
      .row.d-flex.catalog-detail-object__location
        .col-12.col-lg-4.catalog-detail-object__location-name
          h2.h2#title-map Расположение
        .col-12.col-lg-8.text-lg-right.catalog-detail-object__location-adres
          span.catalog-detail-object__location-adres-title Адрес:
          span Республика Крым, г. Ялта, ул. Виноградная 16
        .col-12

    .col-12.catalog-detail-object__location-map-wrap
      .catalog-detail-object__location-map#js-detail-yamap